- extends 'loggit/body.haml'

- load url from future
- load i18n
- load compress
- load loggit_filter

- block main
  %div{'style':'bottom:1px; position:fixed; right:10px;'}
    %p
      %a.btn.btn-mini.btn-info{'href':'{% url "loggit_newdomain_filter_index" %}?day={{ day }}'}
        %i.icon-filter.icon-white
        {% trans 'filter' %}

  %legend {% trans 'analysis'%}
    %a{'href':'{% url "loggit_newdomain_show" %}?starttime={{ day }}&endtime={{ day }}'}
      = day

  %ul.breadcrumb
    %li
      %a{'href':'{% url "loggit_newdomain_analysis_index" %}?day={{ day }}'} Home
      %span.divider /
    - if key
      - for k in key|ksplit
        %a{'href':'{% url "loggit_newdomain_analysis_index" %}?day={{ day }}&key={{ k }}'}
          = k
        %span.divider /

  %table.table.table-striped
    %thead
      %tr
        %th{'width':10}
          {% trans 'count' %}
        %th {% trans 'domain' %}
        %th {% trans 'operate' %}
    %tbody
      - for domain in domains
        %tr
          %td
            = domain.count
          %td
            - if domain.count != 1
              %a{'href':'{% url "loggit_newdomain_analysis_index" %}?day={{ day }}&key={{ domain.domain }}'}
                = domain.domain
            - else
              = domain.domain
          %td
            %a{'id':'{{ forloop.counter }}', 'href':'#', 'onclick':'filter_create("{% url "loggit_newdomain_filter_create" %}", "{{ domain.domain }}", "{{ forloop.counter }}")'}
              %i.icon-filter

  - compress js
    %script{'type':'text/coffeescript'}

      @filter_create = (url, key, id) ->
        bootbox.confirm '{% trans "Are you sure add filter?" %}', (confirmed) ->
          if confirmed
            callback = (response) ->
              if response['result'] == 'success'
                $('a#'+id).parent().parent().fadeOut 1000, () ->
                  $('a#'+id).parent().parent().remove()
              else
                console.log response

            $.get url, {'rule':key}, callback, 'json'

